@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Magenda";
  src: url("../fonts/magenda/Magenda.ttf");
  src: url("../fonts/magenda/Magenda.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.welcome {
  font-family: "Magenda";
  font-weight: 500;
  text-align: center;
}

.header_text {
  text-align: center;
  color: rgb(111, 111, 111);
  font-size: 13px;
  margin-bottom: 20px;
}

.splash {
  text-align: center;
  color: rgb(111, 111, 111);
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 5px;
}

label {
  font-weight: bold;
}

.form_input {
  padding: 10px 10px;
  outline: none;
  border: 1px solid gray;
  width: 240px;
}

.register {
  width: 100%;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form_section_left {
  width: 500px;
  margin: 0 auto;
}
.form_section_right {
  height: 100vh;
  width: 50%;
  background-image: url("../img/underwater/img3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.form_section_right2 {
  height: 100vh;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/underwater/img4.png");
}

.form_section_intro {
  height: 100vh;
  width: 50%;
  overflow: hidden;
}

video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.align_twins {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
  outline: none;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  font-family: "Poppins";
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background-color: gray;
}

.login_prompt {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.bottom {
  margin-right: 5px;
}

.container {
  margin: 40px 30px;
}

.intro-text {
  font-weight: 900;
  font-size: 40px;
  font-family: "Magenda";
}

section {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}

section h2 {
  font-family: "Magenda";
}
.cat-center {
  font-weight: 800;
  text-decoration: underline;
  font-family: "Magenda";
  margin-top: 30px;
}

.card-container {
  margin-top: 18px;
  margin-bottom: 30px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.card {
  width: 220px;
}
.card-img {
  background-color: yellow;
  width: 100%;
  height: 220px;
}

.card-text {
  text-align: center;
  margin-top: 15px;
}
.card-text h3 {
  font-family: "Magenda";
}
.card-btn {
  margin-top: 5px;
  width: 60%;
  padding: 5px;
}

.proceed {
  width: 200px;
}

.admin-body {
  position: relative;
  padding: 50px 50px;
  background-image: url("../img/underwater/img5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.white {
  color: white;
}

.flex-admin {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 20px;
  grid-template-rows: repeat(2, 1fr);
}

.admin-card {
  position: relative;
  width: 350px;
  height: 170px;
  padding: 20px 20px;
  border: 1px solid rgb(211, 211, 211);
  background: white;
}

.admin-card h4 {
  font-family: "Magenda";
  font-size: 24px;
}

.card-icon-i {
  border-radius: 5px;
  margin-right: 10px;
}

i {
  color: rgb(4, 200, 4);
}

.admin-card p {
  font-size: 13px;
  margin-top: 20px;
  color: gray;
}

.line {
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 40px;
  background-color: rgb(171, 169, 169);
}

.admin-link {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
}

.admin-box {
  display: flex;
  align-items: center;
}

.candidate-body {
  width: 100vw;
  padding-top: 50px;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}
th {
  text-align: left;
  height: 30px;
  color: white;
  background-color: green;
}

td {
  height: 50px;
  vertical-align: bottom;
}

td,
th {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #a40000;
}

.candidate-body > h1 {
  text-align: center;
  margin-bottom: 10px;
}
